<div class="container mt-3">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Employment date</th>
        <th scope="col">Invoice hours this year</th>
        <th scope="col">Select</th>
      </tr>
    </thead>
    <tbody *ngFor="let consult of consultants">
      <tr>
        <th scope="row">{{ consult.id }}</th>
        <td>{{ consult.name }}</td>
        <td>{{ consult.employmentDate }}</td>
        <td>{{ consult.invoiceHoursWorkedThisYear }}</td>
        <td>
          <div class="form-check">
            <input
              (click)="whatId(consult.id)"
              class="form-check-input position-static"
              type="radio"
              name="selecterConsultRadio"
              id="{{ consult.id }}"
              value="option {{ consult.id }}"
            />
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="container mt-5">
    <form #registerForm="ngForm" (ngSubmit)="editConsultant()">
      <h2 class="text-center text-primary">Edit consultant</h2>
      <hr />
      <p>Consultant with Id selected:{{ currentIdSelected }}</p>
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          required
          name="username"
          [(ngModel)]="model.name"
          placeholder="Name"
        />
      </div>

      <div class="form-group">
        <input
          type="text"
          placeholder="Datepicker"
          class="form-control"
          name="date"
          [(ngModel)]="model.employmentdate"
          bsDatepicker
          [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', isAnimated: true }"
          placeholder="Employment date"
        />
      </div>

      <div class="form-group">
        <input
          type="number"
          class="form-control"
          required
          name="invoiceHours"
          [(ngModel)]="model.invoicehoursworkedthisyear"
          placeholder="Invoice hours this year"
        />
      </div>

      <div class="form-group text-center">
        <button class="btn btn-success" type="submit">Update</button>
        <button class="btn btn-default" type="button" (click)="deselect()">
          Deselect
        </button>
      </div>
    </form>
  </div>
</div>
