<div class="container mt-3">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Employment date</th>
        <th scope="col">Invoice hours this year</th>
        <th scope="col">Select</th>
        <th scope="col">Remove</th>
      </tr>
    </thead>
    <tbody *ngFor="let consult of consultants">
      <tr>
        <th scope="row">{{ consult.id }}</th>
        <td>{{ consult.name }}</td>
        <td>{{ consult.employmentDate }}</td>
        <td>{{ consult.invoiceHoursWorkedThisYear }}</td>
        <td>
          <div class="form-check">
            <input
              (click)="whatId(consult.id)"
              class="form-check-input position-static"
              type="radio"
              name="selecterConsultRadio"
              id="{{ consult.id }}"
              value="option {{ consult.id }}"
            />
          </div>
        </td>
        <td>
          <button
            (click)="deleteConsult(consult.id)"
            name="removeConsult"
            type="button"
            class="btn btn-primary"
          >
            Delete id: {{ consult.id }}
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="container mt-5">
    <form #updateForm="ngForm" (ngSubmit)="editConsultant(updateForm.value)">
      <h2 class="text-center text-primary">Edit consultant</h2>
      <hr />
      <p>Consultant with Id selected:{{ currentTextId }}</p>
      
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          required
          name="name"
          [(ngModel)]="currentName"
          placeholder="Name"
        />

        <input
        type="text"
        placeholder="Datepicker"
        class="form-control"
        name="employmentDate"
        [(ngModel)]="currentDate"
        bsDatepicker
        [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', isAnimated: true }"
        placeholder="Employment Date"
      />

      <input
      type="number"
      class="form-control"
      required
      name="invoiceHoursWorkedThisYear"
      [(ngModel)]="currentInvoice"
      placeholder="Invoice hours this year"
      />

      <button class="btn btn-success" type="submit">Update</button>

      </div>
    </form>
  </div>
</div>
