<div class="container mt-3">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Employment date</th>
        <th scope="col">Invoice hours this year</th>
        <th scope="col">Years worked</th>
        <th scope="col">Factor</th>
        <th scope="col">Points</th>
        <th scope="col">Bonus</th>
      </tr>
    </thead>
    <tbody *ngFor="let consult of consultants">
      <tr>
        <td>{{ consult.name }}</td>
        <td>{{ consult.employmentDate }}</td>
        <td>{{ consult.invoiceHoursWorkedThisYear }}</td>
        <td>{{ consult.EmploymentYears }}</td>
        <td>{{ consult.LoyaltyFactor }}</td>
        <td>{{ consult.Points }}</td>
        <td>{{ consult.Bonus }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="container mt-3">
  <form #registerForm="ngForm" (ngSubmit)="calculateProfit()">
    <h2 class="text-center text-primary">Company profit</h2>
    <hr />

    <div class="form-group">
      <input
        type="number"
        class="form-control"
        required
        name="companyEarnings"
        [(ngModel)]="companyEarnings"
        placeholder="Enter company earnings"
      />
    </div>

    <div class="form-group text-center">
      <button class="btn btn-success" type="submit">Calculate</button>
    </div>
  </form>
  <br />
  Total points: {{ totalPoints }}
</div>
